sublime.sublime-project
sublime.sublime-workspace
/data
*/data
*.pyc
__pycache__
*/__pycache__
/.ipynb_checkpoints
*/.ipynb_checkpoints
.coverage
/cover
*/.coverage
*/cover
coverage.xml
*/coverage.xml
nosetests.xml
*/nosetests.xml
pylint.xml
*/pylint.xml
*.exe
